* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-style: none;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
}


.container {
    height: 402px;
    width: 402px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.eachBox {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: white;
}

h1 {
    margin: 80px 0px 25px 0px;
    font-size: 45px;
}

[type="button"] {
    width: 80px;
    padding: 5px;
}

.toolsContainer {
    margin-bottom: 20px;
}

.sizeContainer {
    margin-bottom: 20px;
}

#newGridNumberInput {
    width: 80px;
    padding: 3px;
}

[type="button"]:hover {
    background-color: rgb(82, 100, 100);
    color: white;
}

p {
    position: absolute;
    bottom: 20px;
}

@media only screen and (max-width: 700px) {
    .container {
        margin-top: 25px;
        width: 252px;
        height: 252px;
    }

    h1 {
        margin: 10px 0px 5px 0px;
        font-size: 40px;
    }
    .toolsContainer {
        margin-bottom: 10px;
    }
    
    .sizeContainer {
        margin-bottom: 10px;
    }
}